/* All */
body {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 800px;
  margin: auto;
  background-color: #f9f3e9;
  color: #5f5c57;
}

h1 {
  text-align: center;
  font-size: x-large;
  color: #5f5c57;
  margin: 2rem;
}

textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

p,
ul {
  font-size: 1.2rem;
}

ul {
  list-style: none;
  padding-left: 0;
}

/* Header */
.header-link {
  text-decoration: none;
}

header {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 1.2px;
  padding: 1.2rem;
  width: 240px;
  margin: auto;
  background-color: #ea967a;
  border-radius: 5px;
  box-shadow: #b3b3b3 3px 3px 5px 0px;
}
